

### If statements w 'else'

In [3]:
hungry = False

if hungry:
    print('FEED ME!')
else:
    print("I'm not hungry")

I'm not hungry

### Multiple Branches

In [4]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('cars are cool')
elif loc == 'Bank':
    print('money is cool')    
elif loc == 'Store':
    print('welcome to the store!')
else:
    print('I don not know much')

money is cool

In [5]:
name = 'Sammy'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print('Hello Sammy')
else: 
    print('What is your name')

Hello Sammy

### For loops and iteration

In [6]:
mylist = [3,4,5,6]

In [7]:
for blah in mylist:
    print(blah)

3
4
5
6

In [8]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 3
4
Odd Number: 5
6

See 00-03-Print Formatting w Strings ^ f used to signal that an object will be placed within the string.

#### Running tally w/i list

In [9]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    

    print(list_sum)

3
7
12
18

vs outside of indentation:

In [10]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    

print(list_sum)

18

#### Iteration through string:

In [11]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

#### w/ tuple

In [12]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [13]:
#tuples have special properties

In [14]:
mylist1 = [(1,2),(3,4),(5,6),(7,8)]

In [15]:
len(mylist1)

4

In [16]:
for (a,b) in mylist1:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

#### upacks the tuple structure and reads it.

Don't have to use paranthesis:

In [17]:
for a,b in mylist1:
    print(b)

2
4
6
8

### Iteration through a dictionary

In [18]:
d = {'k1':1,'k2':2,'k3':3}

In [19]:
for key,value in d.items():
    print(key)
    print(value,key)

k1
1 k1
k2
2 k2
k3
3 k3

In [20]:
print(value,key)

3 k3

### While Loops

In [21]:
x=0

while x < 5:
    print(f'The current value of x is {x}')
          
    x += 1
else:
    print("X IS NOT LESS THAN 5")

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [22]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [23]:
mystring = 'Sammy'

In [24]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [25]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

### Useful Operators

In [26]:
mylist= [1,2,3]

In [27]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [28]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [29]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

Note: can replicate this using enumerate:

In [30]:
 for item in enumerate(word):
        print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [32]:
#Use tuple unpacking
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')
    #'\n' is an escape sequence character

0
a


1
b


2
c


3
d


4
e

### Zip function

In [33]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']

In [34]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

### 'in' operator

False

In [36]:
35 in d.values()

True

In [37]:
'key1' in d.keys()

True

### Importing from lib and random gen

In [38]:
from random import shuffle

In [40]:
mylist = list(range(1,10))

In [41]:
shuffle(mylist)

In [42]:
mylist

[9, 7, 1, 6, 8, 2, 3, 5, 4]

In [43]:
from random import randint

In [44]:
randint(0,100)

92

In [45]:
randint(0,100)

41

In [46]:
mynum = randint(0,10)

### Accepting user imput

In [51]:
result = input('Enter a number here: ')

Enter a number here: 50

In [52]:
result

'50'

In [53]:
int(float(result))

50